@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
  font-family: "Special Gothic Expanded One", sans-serif;
/*  font-family: "Cal Sans", sans-serif;*/
/*  margin-top: 20px;*/
}


.big {
  font-size: 50px;
  text-align: justify;
  text-justify: auto;
  margin:10px;
}

#n1 {
  margin-left:0;
  padding-top:20px;
}

.activeshadow{
  box-shadow: hsla(0 0% 0% / 0.1) 0 0.5rem 1rem;
  transition-duration: 400ms;
}

#falseheader {
  z-index: 2;
  position: fixed;
  width: 100%;
  transition: box-shadow 200ms cubic-bezier(0.33, 1, 0.68, 1);
  background-color: white;
}

.header {
/*  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top:0;
/*  position: fixed;*/
  
  z-index: 3;
  
/*  gap: 1rem;*/
}

#content-holder div {
  margin-right:20px;
}

#content-holder {
  height: 100%;
  width: 100%;
/*  justify-content: center;
  align-items: center;
  display: flex;*/
  display: flex;
  flex-direction: column;
  font-size: 3em;
}

/*#winner {
  font-weight: 100;
}*/

/*.dud {
  color: #757575;
}*/

.title {
  border : 1px solid black;
  border-radius: 2px;
  padding: 0px 5px;
}

.title:hover {
  background-color:#000000;
  color: white;
  background-image:linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  background-repeat:no-repeat;
  background-size: 200% 100%; 
  transition:background-size 1s, background-color 1s;
}


.invisible {
  visibility: hidden;
}

.score {
  color: orange;
  display: flex;
  justify-content: flex-end;
/*  justify-self: flex-end;*/
  flex-grow: 1;
}

.ldb {
  width:100%;
/*  justify-content: center;*/
/*  align-items: center;*/
/*  justify-content: space-around;*/
  display: inline-flex;
}

.notwinner {
  opacity:100;
  animation: appear 1s ease;
}

.player:hover, .score:hover {
  font-weight: 1000;
/*  color:blue;*/
}

@keyframes appear {
  0%{opacity:0},
  50%{opacity:0.5}
  100% {
      opacity:1;
  }
}

#svg-holder {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 2px;
  animation: appear 1s ease;
  font-size: 20px;
}

.line-text-player {
/*  font-family: "Chakra Petch", sans-serif;*/
/*  font-family: "Lexend", sans-serif;*/
  font-weight: 200;
}

.dropdown {
  top: 20px;
  left: 20px;
/*  position: fixed;*/
}

